[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
lxml = "*"
flask = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.8"
