body{
	background-color: #f5f5f5;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
}

tr:hover td{
	cursor: pointer;
	background-color: #e8e8e8;
}