{% extends 'layout.html' %}
{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
     <h1 class="display-4">Stats</h1>
   </div>
   <div class="container">
    <div class="table-responsive">
     <table class="table">
       <thead>
         <tr>
           <th>Host</th>
           <th>Parsed, today</th>
           <th>Sent, today</th>
           <th>Last parsing</th>
         </tr>
       </thead>
       <tbody>
        {% for hostname, time in lp %}
        <tr>
          <td>{{ hostname }}</td>
          <td>{{ nt[hostname] }}</td>
          <td>{{ st.get(hostname, 0) }} ({{ '%0.2f' % proc_sent.get(hostname)|float }} %)</td>
          <td>{{ time }}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
    </div>
     <p>Last Telegram response: {{ lt }}</p>
     <canvas id="myChart" width="400" height="120"></canvas>
   </div>
{% endblock content %}
{% block chart %}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var lineChartData = {
  labels: [{% for day in legend_days %} '{{day}}', {% endfor %}],
  datasets: [{
      label: 'Parsed',
      data: {{ wnt }},
      yAxisID: 'axis-1',
      borderWidth: 0,
      backgroundColor: [
          'rgba(255, 40, 0, 0.3)']
  },
  {
      label: 'Sent',
      data: {{ wst }},
      yAxisID: 'axis-1',
      borderWidth: 0,
      backgroundColor: [
          'rgba(40, 0, 255, 0.3)']
  },
  {
      label: 'Proc Sent',
      fill: false,
      data: {{ proc_sent_graph }},
      yAxisID: 'axis-2',
      borderWidth: 0,
      borderColor:[
          'rgb(80, 0, 0)'],
  },
  ]
}
var myChart = new Chart(ctx, {
    type: 'line',
    data: lineChartData,
    options: {
        scales: {
            yAxes: [{
                id: 'axis-1',
                position: 'left',
                display: true,
                ticks: {
                    beginAtZero: true
                }
            },
            {
                type: 'linear',
                id: 'axis-2',
                position: 'right',
                display: true,
                ticks: {
                    beginAtZero: true,
                    // suggestedMax: 100,
                },
                gridLines: {
                    drawOnChartArea: false,
                  },
            },
            ]
        },
        tooltips: {
            mode: 'index',
            intersect: false,
          },
    }
});
</script>
{% endblock chart %}
