{% extends 'layout.html' %}
{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
     <h1 class="display-4">Stats</h1>
   </div>
   <div class="container">
     <table class="table">
       <thead>
         <tr>
           <th>Host</th>
           <th>Parsed, today</th>
           <th>Sent, today</th>
           <th>Last parsing</th>
         </tr>
       </thead>
       <tbody>
        {% for hostname, time in lp %}
        <tr>
          <td>{{ hostname }}</td>
          <td>{{ nt[hostname] }}</td>
          <td>{{ st[hostname] }} ({{ '%0.2f' % proc_sent|float }} %)</td>
          <td>{{ time }}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
     <p>Last Telegram response: {{ lt }}</p>
   </div>
{% endblock content %}